#main-div{
    /* border: 1px solid black; */
    margin: 30px;
}





.nav-div{
    /* border: 1px solid black; */
    margin: 5px;
    position: sticky;
    top: 0;
  overflow: hidden;
  background-color: rgb(196, 211, 240);
  border-radius: 10px;
    
  
}
#nav-image{

    width: 20px;
    height: 20px;
}

.nav{
    display: inline-block;
   
    padding-left: 200px;
   
}



#content-div{
    margin: 20px;

}

.content{
    /* border: 1px solid black; */
    margin-bottom: 25px;

}
.food1{
    display: inline-block;
    
    width: 22.99%;
    /* border: 1px solid black; */
   margin: 2px;
    padding: 10px;
}

img{
    width: 100%;
    border-radius: 10px;
}

.food2{
    display: inline-block;
    
    width: 22.99%;
    /* border: 1px solid black; */
   margin: 2px;
    padding: 10px;
}


/* pages style */
#pages-div{
    /* border: 1px solid black; */
    text-align: center;
   
    height: 50px;
   padding: 20px;
}
#pages{
    /* border: 1px solid black; */
    padding: 5px;
}
.page{
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    padding: 20px;

    /* border: 1px solid black; */

}
.page:hover{
    background-color: black;
    color: white;
}

/* about section */

#about-section{

    padding:10px 15px 10px 15px ;
}

.inner-about{
    text-align: center;
}

#image{
    width: 800px;
    height: 553;
}
.inner-content{
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 32px;

}



/* footer styles */
.footer{
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    display: flex;
}

.part{
    width: 30.5%;
    height: 250px;
    float: left;
    border:  solid black;
    border-radius: 5px;
  
    padding: 10px;
    margin: 5px;
    text-align: center;
}

li{
    list-style: none;
    padding: 10px;
    height: 70px;
   
    
}
li:hover{
    background-color: rgb(172, 170, 173);
}

.list-image{
    width: 40px;
    height: 40px;
}
span{
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    color: white;
    background-color: black;
    margin: 5px;
}

.li-div{
    display: inline-block;
    text-align: center;
   padding-bottom: 10px;
   padding-right: 10px;
    

   
    
}
.name{
   padding-top: 50px;
    margin-left: 45%;
}

a{
    text-decoration: none;
    color: white;
}

.btn{
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    margin-left: 700px;
  

}